<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">

	<!-- 좀전에 작성한 객체로 리턴합니다. -->
	<select id="listOverPoint" resultType="com.data.center.entity.MemberBbsEntity">
		SELECT MB_SUBJECT, MB_CONTENTS FROM public.PG_BBS
	</select>
</mapper>